{% extends './base.html'%}
{% load static %}
{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}
{% block index %}

   <div class="alert alert-primary text-center" role="alert">
        <span class="" style="font-size:30px">

        {% if person %}
            {{person.owner.name}}
        {% endif %}
        </span>
    </div>
    <div class=>
        {% if person %}
            <div class="row text-center" style="font-size: 25px">
                <div class="col-sm"><span class="badge badge-success">Total Score:</span></div>
                <div class="col-sm">{{person.rating | floatformat:2}}</div>
            </div>
            <br>

            {% if specifics %}
            <h6 class="text-center">Results breakdown</h6>
            <!--<p>{{content.pdf_text}}</p>-->

            <!--{{table}}-->
            {% for key, values in specifics.items %}

                    <table class="table">

                        <thead>
                        <tr>
                            <th scope="col">Module</th>
                            <th scope="col">{{key | title}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,values in values.items %}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{values}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            {% endfor %}
        {% endif %}
        {% endif %}
    </div>

{% endblock %}